<h1>Platos</h1>

<table>
    <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Cantidad de personas </th>
        <th>Imagen</th>
        <th>Valoracion</th>
    </thead>
    <% @platos.each do |plato| %>
    <tr>
        <td><% plato.name %></td>
        <td><% plato.price %></td>
        <td><% plato.description %></td>
        <td><% plato.cantidad %></td>
        <td><% plato.imagen %></td>
        <td><% plato.valoracion %></td>
        <td>
            <% link_to "Mostrar" %>
            <% link_to "Editar" %>
            <% link_to "Eliminar" %>
        
        </td>





    </tr>
    <% end %>

</table>
